body {
    background-color: #292929;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 70px;
}

.card {
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-button {
    display: inline-block;
    background-color: rgb(4, 177, 251);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}

.card-button:hover {
    background-color: rgb(4, 188, 290);
    color: black;
}